<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>{{historia.titulo}}</title>
</head>
<body>
    <nav>
        {{#menu}}
            <a href="{{link}}"> [{{nome}}] </a>
        {{/menu}}
    </nav>
    <hr>
    
    <h1>{{historia.titulo}}</h1>
    <p>{{historia.conteudo}}</p>
    
    <hr>
    <footer>{{rodape}}</footer>
</body>
</html>